body {
    background-color: #000;
    background-image: url('Images/wave-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    color: #cccccc;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, .navbar-brand, .btn {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border-bottom: 2px solid #8a0000;
}

.navbar-brand {
    letter-spacing: 2px;
}

.nav-link {
    color: #bbbbbb !important;
    font-weight: bold;
    transition: color 0.3s;
    margin-right: 10px;
}

    .nav-link:hover {
        color: #ff3333 !important;
    }

.metal-title {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    color: #ff3333;
    text-shadow: 3px 3px 0px #000000, 0 0 25px rgba(255, 0, 0, 0.3);
    margin-bottom: 20px;
}

.metal-subtitle {
    font-size: 1.2rem;
    color: #ffffff;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    padding: 10px 0;
    display: inline-block;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.btn-red {
    background-color: #8a0000;
    border: 2px solid #ff3333;
    color: #ffffff;
    padding: 15px 40px;
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

    .btn-red:hover {
        background-color: #ff3333;
        transform: scale(1.05);
        color: #fff;
    }

.face-card {
    height: 350px;
    background-size: cover;
    background-position: center;
    border: 1px solid #333;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}

    .face-card:hover {
        transform: translateY(-10px);
        border-color: #ff3333;
        cursor: pointer;
    }

.face-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.9), transparent);
}

.auth-card {
    background-color: rgba(10, 10, 10, 0.9);
    border: 1px solid #8a0000;
    padding: 30px;
}

.form-label {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ff3333;
    font-weight: bold;
    letter-spacing: 1px;
}

.tech-card {
    background-color: #111111;
    border: 1px solid #333;
    padding: 30px;
    height: 100%;
    transition: all 0.3s ease;
}

    .tech-card:hover {
        transform: translateY(-5px);
        border-color: #ff3333;
    }
